.New-Contact input{
    width: 100%;
    padding: 12px;
    border: white;
    outline: none;
    margin-bottom: 10px;
    font-size: 18px;
}
.New-Contact label {
    padding-left: 10px;
}

.New-Contact{
    max-width: 500px;
    border: 2px solid white;
    margin:  0 auto;
    padding: 15px;
}

.preview img {
    width: 80px;
}

.preview{
    margin-bottom: 10px;
}

.buttons button {
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    color: #494646;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}